$sirka: 1110px;
$text_svetly: #ffffff;
$hovermenu: #ff8013;
$text_tmavy: #282828;
$text_farebny: #ff8013;
$pozadie1: #464646;
$pozadie2: #cccccc;
$biela: #ffffff;
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  background-color: red;
  font-family: "Lato", sans-serif;
  font-weight: 900;
}
