$sirka: 1110px;
$text_svetly: #ffffff;
$hovermenu: #ff8013;
$text_tmavy: #282828;
$text_farebny: #ff8013;
$pozadie1: #464646;
$pozadie2: #cccccc;
$biela: #ffffff;
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  margin: 0;
  box-sizing: border-box;
}
html {
  width: 100vw;
  overflow-x: hidden;
}
header {
  top: 0;
  position: sticky;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: $pozadie1, $alpha: 0.65);
  nav {
    width: $sirka;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    .identita {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      gap: 4px;
      text-decoration: none;
      img {
        height: 45px;
      }
      h1 {
        color: $text_svetly;
        font-weight: 700;
        font-size: 25px;
        margin-bottom: 3px;
      }
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: $text_svetly;
          font-weight: 400;
        }
        a:hover {
          color: $text_farebny;
        }
      }
    }
  }
}
